<p>titulos works!</p>

<h1>Hola Muchachos soy un H1</h1>
<h2>Hola Muchachos soy un H2</h2>
<h3>Hola Muchachos soy un H3</h3>

<h1>{{nombre}},{{apellido}}</h1>
<h1>{{apellido}}</h1>

<h1>Hola yo soy el alumno {{alumno.nombre}} {{alumno.apellido}}</h1>


<br>

<input type="text" [(ngModel)]="inputnuevo">

<!-- <p>{{inputnuevo}}</p> -->

<!-- <form action="">
    <label for="correo"> Correo

        <input type="text" (ngModelChange)="escribirCorreo()"  [(ngModel)]="correo" name="correo">
    </label>
    <label for="password">Password

        <input type="password" (ngModelChange)="escribirModelo()"  [(ngModel)]="password" name="password">
    </label>
    Evento click que llamaremos a ejecutar
     <button (dblclick)="ingresar()">iniciar</button>

    
</form>  -->

<!-- <button (dblclick)="llamarAlert()">Doble Click</button> -->
<br>
<br>


<!-- <img [src]="imagen" alt="" > -->

 





