

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="navbar-nav"> 

    <li><a class="nav-item nav-link " routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
    <li><a class="nav-item nav-link" routerLink='/pipes' routerLinkActive='active'>Pipes</a></li>
    <li><a class="nav-item nav-link" routerLink='/ejemplo' routerLinkActive='active'>Ejemplo</a></li>
    <li><a class="nav-item nav-link" routerLink='/directiva' routerLinkActive='active'>Directiva</a></li>
    <li><a class="nav-item nav-link" routerLink='/usuarios' routerLinkActive='active'>Usuarios</a></li>
    <li><a class="nav-item nav-link" routerLink='/articulo' routerLinkActive='active'>Articulo</a></li>
  
</div>
</nav>
